html {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --font-lexend: "Lexend Deca", "Sans-serif";
    --font-big-shoulder: "Big Shoulders Display", "Sans-serif";
}

body {
    font-family: var(--font-lexend);
}

.container {
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-content: center;
    max-width: 30rem;
    transition: display .5s;
}

.card {
    padding: 4rem;
    color: #FFFFFF;        
}

.card--sedan {
    background-color: var(--bright-orange);
    border-radius: 10px 10px 0 0;
}

.card--suv {
    background-color: var(--dark-cyan);
}

.card--luxury {
    background-color: var(--very-dark-cyan);
    border-radius: 0 0 10px 10px;
}


.card__title {
    font-family: var(--font-big-shoulder);
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.card__text {
    line-height: 2;
    font-size: 16px;
    opacity: 75%;
    margin-bottom: 2rem;
}

.card__button {
    background-color: #FFFFFF;
    height: 3rem;
    width: 9rem;
    font-family: inherit;
    font-size: 1em;
    border: 2px solid transparent;
    border-radius: 50px;
    transition: all .5s;
}

.card__button:hover {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    
}

.card__button--sedan {
    color: var(--bright-orange);
}

.card__button--suv {
    color: var(--dark-cyan);
}

.card__button--luxury {
    color: var(--very-dark-cyan);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (min-width: 900px) {
    .cards {
        flex-direction: row;
        padding: 7rem;
        max-width: 80%;
    }

    .card--sedan {
        border-radius: 10px 0 0 10px; 
    }

    .card--luxury {
        border-radius: 0 10px 10px 0; 
    }
}